<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.wx.mapper.WxBallTypeMapper">
    
    <resultMap type="WxBallType" id="WxBallTypeResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
    </resultMap>

    <sql id="selectWxBallTypeVo">
        select id, name from wx_ball_type
    </sql>

    <select id="selectWxBallTypeList" parameterType="WxBallType" resultMap="WxBallTypeResult">
        <include refid="selectWxBallTypeVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
        </where>
    </select>
    
    <select id="selectWxBallTypeById" parameterType="Long" resultMap="WxBallTypeResult">
        <include refid="selectWxBallTypeVo"/>
        where id = #{id}
    </select>

    <insert id="insertWxBallType" parameterType="WxBallType" useGeneratedKeys="true" keyProperty="id">
        insert into wx_ball_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null  and name != ''">name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null  and name != ''">#{name},</if>
         </trim>
    </insert>

    <update id="updateWxBallType" parameterType="WxBallType">
        update wx_ball_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''">name = #{name},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWxBallTypeById" parameterType="Long">
        delete from wx_ball_type where id = #{id}
    </delete>

    <delete id="deleteWxBallTypeByIds" parameterType="String">
        delete from wx_ball_type where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>